@import '~@/common/css/variable.scss';

.iconfont.warning {
	color: $Warning;
}
.iconfont.danger {
	color: $Danger;
}
.iconfont.primary {
	color: $Primary;
}
.iconfont.success {
	color: $Success;
}
.iconfont.info {
	color: $Info;
}
.iconfont.black {
	color: $Black;
}
.iconfont.pink {
	color: $Pink;
}
.iconfont.purple {
	color: $Purple;
}
.iconfont.grey {
	color: $Gray;
}

.bgcolor.success {
	background-color: $Success!important;
}
.bgcolor.primary {
	background-color: $Primary!important;
}
.bgcolor.danger {
	background-color: $Danger!important;
}
.bgcolor.warning {
	background-color: $Warning!important;
}
.bgcolor.info {
	background-color: $Info!important;
}
.bgcolor.pink {
	background-color: $Pink!important;
}
.bgcolor.purple {
	background-color: $Purple!important;
}
.bgcolor.grey {
	background-color: $Gray!important;
}
.bgcolor.black {
	background-color: $Black!important;
} 

.bdcolor.success {
	border-color: $Success!important;
}
.bdcolor.primary {
	border-color: $Primary!important;
}
.bdcolor.danger {
	border-color: $Danger!important;
}
.bdcolor.warning {
	border-color: $Warning!important;
}
.bdcolor.info {
	border-color: $Info!important;
}
.bdcolor.pink {
	border-color: $Pink!important;
}
.bdcolor.purple {
	border-color: $Purple!important;
}
.bdcolor.grey {
	border-color: $Gray!important;
}
.bdcolor.black {
	border-color: $Black!important;
} 
