@import '~@/common/css/variable.scss';

.iconfont.warning {
	color: $Warning;
}
.iconfont.danger {
	color: $Danger;
}
.iconfont.parimary {
	color: $Primary;
}
.iconfont.success {
	color: $Success;
}
.iconfont.info {
	color: $Info;
}
.iconfont.black {
	color: $Black;
}

.progress.success {
	border-color: $Success!important;
}
.progress.primary {
	border-color: $Primary!important;
}
.progress.danger {
	border-color: $Danger!important;
}
.progress.warning {
	border-color: $Warning!important;
}
.progress.info {
	border-color: $Info!important;
}
.progress.pink {
	border-color: $Pink!important;
}
.progress.purple {
	border-color: $Purple!important;
}
.progress.gray {
	border-color: $Gray!important;
}
.progress.black {
	border-color: $Black!important;
} 
