$Danger: #EA3447;
$Primary: #007AFF;
$Warning: #FFA323;
$Success: #2AD181;

/* progress颜色 */
$progress_blue: #85A8F1;
$progress_green1: #91CF91;
$progress_green2: #CBF29C;
$progress_yellow: #E8B66C;


